-var titulo = "Título Principal"
-var titulos = ["Título Principal", "Subtítulo 1", "Subtítulo 2", "Subtítulo 3"]
doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet",href='css/ejercicio-pug.css')
	body
		header
			h1 PlatziGames
			a.boton Registro
		section.intro
			//- : un solo elemento hijo
			.intro__imagen: img(src="images/imagen.png", alt="")
			.intro__contenido
				//- Element= Nota que va sin espacio
				//- h2= titulo
				//- Esta es otra forma
				//- h2 #{titulo}
				h2 #{titulos[0]}
				//- Del primer elemento del array, toma la letra con índice 1
				//- h2 #{titulos[0][1]} 
				p
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					| Commodi accusantium molestiae saepe maxime repudiandae exercitationem 
					| dolorem reiciendis fuga laboriosam culpa ex iusto modi dicta beatae, 
					| doloremque impedit debitis? Vitae, atque.
					span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat non in asperiores consequatur molestiae suscipit porro, animi quo! Eligendi debitis assumenda accusantium tempore cupiditate sapiente est veritatis, voluptatibus tenetur doloremque?
				button.boton Leer