extend components/plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png", alt="Imagen")
			.intro__contenido
				h2 #{titulo}
				p
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					| Commodi accusantium molestiae saepe maxime repudiandae exercitationem 
					| dolorem reiciendis fuga laboriosam culpa ex iusto modi dicta beatae, 
					| doloremque impedit debitis? Vitae, atque.
					span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat non in asperiores consequatur molestiae suscipit porro, animi quo! Eligendi debitis assumenda accusantium tempore cupiditate sapiente est veritatis, voluptatibus tenetur doloremque?
				button.boton Leer
		main.contenido
			+caja("imagen.png", titulos[0], "Lorem ipsum dolor sit amet")
			+caja("imagen.png", titulos[1], "Lorem ipsum dolor sit amet")
			+caja("imagen.png", titulos[2], "Lorem ipsum dolor sit amet")