-var titulo = "Título Principal"
-var titulos = ["Subtítulo 1", "Subtítulo 2", "Subtítulo 3"]
-var usuario = "Mitchell"
-var enlaces = ['Acerca', 'Noticias', 'Contacto']
mixin caja(imagen, titulo, contenido)
	.caja 
		.caja__imagen: img(src="images/"+imagen, alt="Imagen")
		.caja__contenido 
			h3= titulo
			p=contenido